/* @import '~bulma/bulma'; */
*{
    margin: 0px;
    padding: 0px;
}

.sun-editor {
    border: none !important;
    border-radius: 4px;
    overflow: hidden;
    min-height: 500px;
    border-bottom: none !important;
  }
  
  /* Optional: Target the content area of SunEditor */
  .sun-editor .sun-editor-editable {
    padding: 20px;
    min-height: 800px;

    border: none !important;
    border-bottom: none !important;
    overflow: hidden;
    /* border-radius: 4px; */
  }
  .sun-editor .se-resizing-bar {
    display: none !important;
}