
.headerBanner{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #e2e2e2;
    padding-bottom: 3rem;
     margin-top: .3rem;
    padding-top: 3rem;

}

.container,.containerColumn{
    width: 1200px;
}


.container p{
    word-wrap:break-word;

}
.containerRow{
    width: 50%;
}

.homeContentDiv{
    display:flex ;
    justify-content: center;
    padding-top: 3rem;
}
.containerColumn{
    display: grid;
    grid-gap: 30px;
    border-bottom: .5px solid rgba(128, 128, 128, 0.347);
    /* border-radius: 1%; */
    padding-bottom: 40px;
    width: 70%;
}
.imageStyle{
    width: 100% !important;
}
.cardMainDiv{
    display: flex;
    /* border: 1px solid black; */
    /* background-color: rgba(244, 240, 240, 0.545); */
    display: flex;
    background-color: hsla(0,15%,95%,.545);
    box-shadow: 0px 0px 10px 0px rgba(170, 170, 171, 11.2);
    border-radius: 20px;
}

.cardMainDiv span{
    display: inline-block;
    /* padding: 0 5px; */
    /* color: #fff; */
    /* background-color: green; */
    /* box-shadow: 10px 10px 1px rgba(48, 4, 4, 0.199); */
}
.cardMainDiv h3{
    font-size: 1.5rem;
}
.cardContent{
    /* border: 1px solid red; */
    margin: 10px;
}

.writerInfo{
    display: flex;
    align-items: center;
}
.writerInfo span{
 color :gray;
 background-color: transparent;
 padding-left: 10px;
}
.writerInfo p{
    color :black;
    background-color: transparent;
   }
.imageStyleWriter{
    border-radius: 50%;
    /* border: 1px solid gray; */
    box-shadow: 1px 1px 3px gray;
}
.cardContentPara{
    padding-top: 15px;
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient:vertical;
   -webkit-line-clamp: 5;
   white-space: pre-wrap;
}
