

/* .imageStyle{
    width: 100% !important;
} */

/* .homeContentDiv{
    margin-top: 70px;

} */

.homeComponentLayout{
    display: flex;
   
}

.homeRightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-right: 1px solid var(--borderColor);
    padding: 0px 5% 0px 10%;
}




.cardMainDiv{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-bottom: 1px solid var(--borderColor);
    /* background-color: hsla(0,15%,95%,.545);
    box-shadow: 0px 0px 10px var(--boxShadow);
    border-radius: 20px; */
}
.cardMainDivImageStyle{
   height: 200px;
   width: 00px;
}

.cardMainDiv span{
    display: inline-block;
    /* padding: 0 5px; */
    /* color: #fff; */
    /* background-color: green; */
    /* box-shadow: 10px 10px 1px rgba(48, 4, 4, 0.199); */
}
.cardMainDiv h3{
    font-size: 1.5rem;
    margin: 0px;
    cursor: pointer;
}
.cardContent{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}
.cardContentImage{
   margin-left: 10px;
   cursor: pointer;
}
.cardContentImage img{
    width: 100px;
    height: 100px;
}



.writerInfo{
    display: flex;
    align-items: center;
}
.writerInfo img{
    height: 30px;
    width: 30px;
    border-radius: 20px
}
.writerInfo span{
 color :var(--navlinksColor);
 font-size: 15px;
 background-color: transparent;
 padding-left: 10px;
 cursor: pointer;
}
.writerInfo p{
    color :black;
    background-color: transparent;
   }
.imageStyleWriter{
    border-radius: 50%;
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 3px var(--boxShadow);
}
.cardContentPara{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    white-space: pre-wrap;
}
.scrollBarDiv{
    margin-top: 20px;
    position: relative;
}
.banner{width: 100%;}

@media (min-width: 320px) and (max-width: 680px) {
   
    .Search {
      display: none;
    }
    .containerRow{
        width: 100%;
        padding-right: 20px;
        padding-left: 30px;
    }
    .homeRightContainer{
        width: 100%;
        padding: 0px;
    }
    .homeContentDiv{
       width: 90%;
    }
    .cardMainDiv{
       flex-direction: column;
       padding-left: 10px;
    }
    .cardMainDivImageStyle{
        height: 200px;
        width: 100%;
     }

     .writerInfo span{
        font-size: 15px;
        padding-left: 5px;
       }

     .homeComponentLayout{
        flex-direction: column;
     }

     
  
  }

  .banner{
    height: 500px !important;
    margin-top: 5px;
    box-shadow: 5px 5px 10px var(--borderColor);
  }
 