

/* .imageStyle{
    width: 100% !important;
} */
.cardMainDiv{
    display: flex;
    /* border: 1px solid black; */
    /* background-color: rgba(244, 240, 240, 0.545); */
    background-color: hsla(0,15%,95%,.545);
    box-shadow: 0px 0px 10px 0px rgba(170, 170, 171, 11.2);
    border-radius: 20px;
}
.cardMainDivImageStyle{
   height: 200px;
   width: 200px;
}

.cardMainDiv span{
    display: inline-block;
    /* padding: 0 5px; */
    /* color: #fff; */
    /* background-color: green; */
    /* box-shadow: 10px 10px 1px rgba(48, 4, 4, 0.199); */
}
.cardMainDiv h3{
    font-size: 1.5rem;
}
.cardContent{
    /* border: 1px solid red; */
    margin: 10px;
}



.writerInfo{
    display: flex;
    align-items: center;
}
.writerInfo img{
    height: 30px;
    width: 30px;
}
.writerInfo span{
 color :gray;
 background-color: transparent;
 padding-left: 10px;
}
.writerInfo p{
    color :black;
    background-color: transparent;
   }
.imageStyleWriter{
    border-radius: 50%;
    /* border: 1px solid gray; */
    box-shadow: 1px 1px 3px gray;
}
.cardContentPara{
    padding-top: 15px;
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient:vertical;
   -webkit-line-clamp: 5;
   white-space: pre-wrap;
}


@media (min-width: 320px) and (max-width: 680px) {
    .Search {
      display: none;
    }
    .containerRow{
        width: 100%;
        padding-right: 20px;
        padding-left: 30px;
    }

    .homeContentDiv{
       width: 90%;
    }
    .cardMainDiv{
       flex-direction: column;
    }
    .cardMainDivImageStyle{
        height: 200px;
        width: 100%;
     }
  
  }