.navBarMainDiv {

  /* position: fixed; */
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;

  top: 0;
  background-color: var(--primary);

}

.navBarSeconderyDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.dialogueBox {
  flex-direction: column;
  width: 0;
  position: fixed;
  border: 1px solid #808080bd;
  box-shadow: 0px 0px 10px gray;
  border-radius: 8px;
  top: 57px;
  right: 19px;
  background-color: var(--primary);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 10px 0px 10px 0px;
}

.navLinks {
  /* display: flex;
    padding: 10px;
    text-decoration: none; */
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: var(--navlinksColor);
  display: block;
  transition: 0.3s;

}


.navLinks:hover {
  background-color: rgb(233, 231, 231);
  color: var(--navlinksColorHover);
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  -webkit-text-fill-color: gray;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.closebtn:hover {
  -webkit-text-fill-color: black;

}

/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

.logoDiv {

  padding-left: 15px;



}

.navigationDiv {
  display: flex;
  align-items: center;
  padding-right: 20px;


}

.navBarMainDiv a {
  padding-right: 20px;
}

.Search {

  display: flex;
  width: 30%;
  border: none;

}

.Search input {
  padding: 3px;
  padding-left: 17px;
  border-radius: 25px;
  font-size: 1.3rem;
  border: 2px solid #f4f6f7;
  outline: none;
}

.publishButton {
  margin-right: 30px
}

.publishButton button {
  border: none;
  background-color: #1a8917;
  padding: 8px;
  color: white;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 680px) {
  .Search {
    display: none;
  }

}