.editorScreen{
   
   display: flex;
    justify-content: center;
   
   
}
.EditorMainDiv{
   margin-top: 80px;
   
}
.logoDiv{
  display: flex;
}

@media (min-width: 320px) and (max-width: 680px) {
  .EditorMainDiv{
    margin-top: 40px;
     width:100%;
 }
}



