.editorScreen{
   
   display: flex;
    justify-content: center;
   
   
}
.EditorMainDiv{
   margin-top: 80px;
    /* width:80%; */
    /* margin-left: 20%; */
}
.logoDiv{
  display: flex;
}

.publishButton{
  position: fixed;
  z-index: 999;
  top: 15px;
  right: 108px
}

.publishButton button{
  border: none;
  background-color: #1a8917;
  padding: 8px;
  color: white;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
}


