.commentsGroupMainDiv{
  width: 100%;
  
}
.commentsGroupDiv{
  width: 100%;
  height: 344px;
  overflow-y: scroll;
}

.replyToCrossBtn{
/* border: 1px solid red; */

cursor: pointer;
font-size: 20px;
border-radius: 50%;
font-size: 10px;
}

   